In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from preprocessing.data_loader import DataLoader

In [24]:
WISDM_LAB_DATA = '../data/wisdm_lab/WISDM_ar_v1.1_raw.txt'
MOTION_SENSE_DATA = '../data/motion_sense'

## Load the data

WISDM\_LAB\_DATA: 
- sampling rate = 20Hz
- labels = Jogging, Walking, Upstairs, Downstairs, Sitting, Standing
- device = Android
MOTION\_SENSE\_DATA:
- sampling rate = 50Hz
- labels = Jogging, Walking, Upstairs, Downstairs, Sitting, Standing
- device = iPhone 6s
MOTION\_SENSE\_DATA:
- sampling rate = 50Hz
- labels = Jogging, Walking, Upstairs, Downstairs, Sitting, Standing
- device = iPhone 6s

In [2]:
data_loader = DataLoader()

In [8]:
data_frame = data_loader.load_data_as_df(WISDM_LAB_DATA)

Loading data from ../data/wisdm_lab/WISDM_ar_v1.1_raw.txt

In [18]:
data_frame.head()

  test_subject    label       timestamp            x          y            z
0           33  Jogging  49105962326000   -0.6946377  12.680544   0.50395286
1           33  Jogging  49106062271000     5.012288  11.264028   0.95342433
2           33  Jogging  49106112167000     4.903325  10.882658  -0.08172209
3           33  Jogging  49106222305000  -0.61291564  18.496431    3.0237172
4           33  Jogging  49106332290000   -1.1849703  12.108489     7.205164

In [11]:
pd.unique(data_frame.label)

array(['Jogging', 'Walking', 'Upstairs', 'Downstairs', 'Sitting',
       'Standing'], dtype=object)

99945000
49896000
110138000
109985000
110016000
100006000
110077000
109924000
109986000
110016000
110015000
109986000
110016000
110016000
99945000
110046000
110016000
109985000
109986000
99945000